//header fondo
.header__index{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header__pages{
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.header__container{
    background-image: url('../images/prueba1.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

    .container{
        height: 100%;
    }
}
.marca__logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
        max-width: 783px;
    }
}
.marca__logo--horizontal{
    display: block;
}
.marca__logo--vertical{
    display: none;
}