//Tamaños
@mixin sizes($width, $height){
    width: $width;
    height: $height;
}
//Transparencias
@mixin box-shadows($numbers, $color){
    box-shadow: $numbers $color;
}
@mixin text-shadows($numbers, $color){
    text-shadow: $numbers $color;
}
/*Flex box*/
@mixin flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/*Fonts*/
@mixin font-title($weight, $style, $size){
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
}
@mixin list{
    list-style: none;
    padding: 0;
    margin: 0;
}